.user__list__elem {
    display: block;
    margin-right: 5px;
}

.ule__header {
    display: flex;
    margin-bottom: 10px
}

.ule__username {
    margin-left: 0;
    margin-right: auto;
    font-size: 20pt;
    padding: 0;
}

.ule__subscription {
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin-top: 8pt;
}

.ule__button__container {
    display: flex;
}

.ule__subscription__button {
    margin-left: auto;
    margin-right: 1em;
    display: block;
}

.ule__divider {
    display: block;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin: 2% 0;
}