.items__container {
    overflow-y: scroll;
    flex-grow: 1;
    display: block;
    height: 90%;
    width: inherit;
    border-top: 1px solid #00000080;
    padding-top: 0.5em;
    box-sizing: border-box;
}

.query__input__container {
    display: flex;
    height: 2em;
    width: inherit;
    border-top: 1px solid #00000080;
}

.query__input {
    display: block;
    height: inherit;
    width: 85%;
    border-top: 1px solid #00000080;
    box-sizing: border-box;
}

.query__send__button {
    display: block;
    height: inherit;
    width: auto;
    border-top: 1px solid #00000080;
    box-sizing: border-box;
}