.auth__form {
    position: absolute;
    top: 20vh;
    left: 35vw;
}

.auth__send__button {
    font-size: medium;
    display: block;
    margin: 1em auto;
    width: 50%;
}

.form__control {
    display: block;
    font-size: 12pt;
    height: 1.4em;
    width: 18em;
    margin: 0.5em 0;
}

.form__label {
    font-size: 14pt;
}